<div class="container">
   <button type="button" class="btn btn-primary" (click)="show()"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Allocate</h4>
         </div>
         <div class="modal-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

               <div class="row">
                  <!-- <div class="col-sm-6">
                     <div class="form-group">
                        <label>Employee Id</label>
                        <input type="text" formControlName="employeeId" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && formFields.employeeId.errors }" />
                        <div *ngIf="submitted && formFields.employeeId.errors" class="invalid-feedback">
                           <div *ngIf="formFields.employeeId.errors.required">Employee Code is required</div>
                        </div>
                     </div>
                  </div> -->
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label>Employee Code</label>
                        <input type="text" formControlName="employeeCode" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && formFields.employeeCode.errors }" />
                        <div *ngIf="submitted && formFields.employeeCode.errors" class="invalid-feedback">
                           <div *ngIf="formFields.employeeCode.errors.required">Employee Code is required</div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label>Project code</label>
                        <input type="text" formControlName="projectCode" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && formFields.projectCode.errors }" />
                        <div *ngIf="submitted && formFields.projectCode.errors" class="invalid-feedback">
                           <div *ngIf="formFields.projectCode.errors.required">Project Code is required</div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label>Start Date</label>
                        <input type="date" formControlName="startDate" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && formFields.startDate.errors }" />
                        <div *ngIf="submitted && formFields.startDate.errors" class="invalid-feedback">
                           <div *ngIf="formFields.startDate.errors">Start date of project is required</div>

                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label>End Date</label>
                        <input type="date" formControlName="endDate" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && formFields.endDate.errors }" />
                        <div *ngIf="submitted && formFields.endDate.errors" class="invalid-feedback">
                           <div *ngIf="formFields.endDate.errors.required">End Date is required</div>

                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label>Allocation %</label>
                        <input type="text" formControlName="allocation" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && formFields.allocation.errors }" />
                        <div *ngIf="submitted && formFields.allocation.errors" class="invalid-feedback">
                           <div *ngIf="formFields.allocation.errors.required">Allocation percentage is required</div>

                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <label>Allocation Description</label>
                        <input type="text" formControlName="allocationDesc" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && formFields.allocationDesc.errors }" />
                        <div *ngIf="submitted && formFields.allocationDesc.errors" class="invalid-feedback">
                           <div *ngIf="formFields.allocationDesc.errors.required">Allocation percentage is required</div>

                        </div>
                     </div>
                  </div>

               </div>
               <button type="submit" class="btn btn-primary">Add</button>
            </form>


         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hide()">Close</button>

         </div>
      </div>
   </div>
</div>