
table {
    display :inline-block;
    border-collapse: collapse;
    padding-right: 0;
    margin-right: 0;
    font-size:xx-small;
    padding: 0%;
    margin: 0%;
  }
  .mainHead{
    padding-right: 0%;
  }
  .table td, .table th {
  padding: 8px;
}
.table tr:hover{
  background-color: #ddd;
}
.table th{
  text-align: left;
}
.mainTable{
    display :inline-block;
    border-collapse: collapse;

  }
 .mainData
  {
    display: inline-block;
    padding-left : 40px;
    padding-right: 20px;
    margin-left: 10px;
    border-collapse: collapse;

  }
  .inTable
  {
    padding-left: 45px;
  }
.inTable th
{
    display: inline-block;
    padding-left: 25px;
    background-color: darkgrey;
}
.inTable tr
{
  margin-left: 35px;
}
.innerData{
  padding-left: 25px; 
}
.inner{
  padding-left: 25px;
}
.container{
  background-color : white;
  width: 100%;
  padding-left: 40px; 
  padding-top: 20px;
  padding: 0%;
  margin: 0%;
}
.even { background-color : whitesmoke; }
.odd { background-color: green; }
.progress{
  width: 100%;
  background-color: darkgray;
}
  