
table {
    display :inline-block;
    border-collapse: collapse;
    padding-right: 0;
    margin-right: 0;
    font-size:xx-small;
    padding: 0%;
    margin: 0%;
    position: relative;
    
  }
  .mainHead{
    padding-right: 0%;
  }
 
  .table td, .table th {
  padding: 8px;
  table-layout: fixed;
}
.table tr:hover{
  background-color: #ddd;
}
.table th{
  text-align: left;
  
}
.proj{
  font-size: smaller;
}
.mainTable{
    display :inline-block;
    border-collapse: collapse;

  }
  td{
    text-align: left;
  }
 .mainData
  {
    display: inline-block;
    padding-left : 40px;
    padding-right: 20px;
    margin-left: 10px;
    border-collapse: collapse;

  }
  
  .inTable
  {
    padding-left: 45px;
  }
  thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
tbody{
  display:block;
    overflow:auto;
}
  th{
    /* position: sticky; */
    /* top: 0; */
    /* position: fixed; */
    top: 0;
  }
.inTable th
{
    display: inline-block;
    padding-left: 25px;
    background-color: darkgrey;
}
.inTable tr
{
  margin-left: 35px;
}
.innerData{
  padding-left: 25px; 
}
.inner{
  padding-left: 25px;
}
.container{
  background-color : white;
  width: 100%;
  padding-left: 40px; 
  padding-top: 20px;
  padding: 0%;
  margin: 0%;
}
.even { background-color : whitesmoke; }
.odd { background-color: green; }
.progress{
  width: 100%;
  background-color: darkgray;
}
.progress-bar{
  font-size: x-small;
}
  