
.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .example-container {
    overflow: auto;
  }
  table {
    width: 100%;
    display :inline-block;
  }
  .mainTable{
    display :inline-block;
  }
  .mainData
  {
    display: inline-block;
    padding-left : 40px;
    padding-right: 20px;
    margin-left: 10px;

  }
.container{
  background-color : white;
  width: 100%;
  padding-left: 40px; 
  padding-top: 20px;
}
.even { background-color : whitesmoke; }
.odd { background-color: green; }

  /* .innerTables
  {
    background-color: fuchsia;
  } */
  
  /* tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background : gainsboro;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .inner-table {
    width: 150%;
  }
  
  .inner-table mat-form-field {
    margin-top: 15px;
    /* width: 100%; */
  /* } */ 
 