<div class="container">
    <table class="table">
        <thead class="mainHead">
            <tr class="mainTable">
                <th><b>EMPLOYEE CODE</b></th>
                <th><b>EMPLOYEE NAME</b></th>
                <th *ngIf="expandedIndex !== -1"><b>ALLOCATION</b></th>
            </tr>
        </thead>
        <tbody *ngFor="let user of userData; let i = index ;odd as isOdd; even as isEven" [class.Odd]="isOdd"
            [class.even]="isEven">
            <tr class="mainData">
                <td (click)="getEmployees(i,user.id,$event)">{{user.employee_code}}</td>
                <td>{{user.first_name}} <span>{{user.last_name}}</span> </td>
                <td *ngIf="i === expandedIndex">
                    <div class="progress">
                        <div *ngFor="let data of projectList;" class="progress-bar" role="progressbar"
                            [ngStyle]="getColor(data.allocation,projectList.length)">
                            <div *ngIf="data.ecode === user.employee_code">{{data.pname}}</div>
                        </div>
                    </div>
                </td>
            </tr>
            <br>
            <div *ngIf="i === expandedIndex" class="inTable">
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Project</th>
                            <th>StartDate</th>
                            <th>EndDate</th>
                        </tr>
                    </thead>
                    <div class="innerdata" *ngFor="let data of users ;odd as isOdd; even as isEven" [class.Odd]="isOdd"
                        [class.even]="isEven">
                        <div class="inner" *ngIf="data.employee_code === user.employee_code ">
                            <tr *ngFor=" let proj of data.projects">
                                <td>{{proj.project_code}}</td>
                                <td>{{proj.project_name}}</td>
                                <td>{{proj.start_date}}</td>
                                <td>{{proj.end_date}}</td>
                            </tr>
                        </div>
                    </div>
                </table>
            </div>
        </tbody>
    </table>
</div>